h1{
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background: #000;
    animation: fade 15s;
}
